@import "/home/talal/.cache/wal/colors-waybar.css";

* {
    border: none;
    font-family: "Sf Pro Display", "JetBrainsMono Nerd Font Propo" ;
    font-size: 16px;
   
    min-height: 0;
    margin: 0;
    padding: 0;

}

window#waybar {
    background: #121212;
    color: white;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

#workspaces {
    transition: all 1050ms ease-in-out;
}

#workspaces button {
    transition: all 200ms ease-in-out;
    padding: 2 1px;
    margin: 2 10px;
    background: alpha(#121212,0.8);
    border: 0px solid #434343;
    color: #e8eaed;
    
}

#workspaces button.active {
    min-width: 50px;
    background: #e8eaed;
    color: #121212;
    border-radius: 100px;
     border: 0px;
}

#clock {
    font-weight: 700;
}

#pulseaudio {
    background-color: #b7d8aa;
    color: black;
    padding: 0 5px;
    margin: 0 10px;
    border-radius: 5px;
}
